:root {
    --dark: #222;
    --med-dark: rgb(38, 85, 114);
    --medium: rgb(120, 38, 120);
    --light: #d8d7d7;
    --radius: 5px;
    font-size: 14px;
    background-color: var(--dark);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.5;
}
  
header {
    display: block;
    margin: 20px;
}

h1 {
    text-align: left;
    font-size: 300%;
    color: var(--light);
}

h2 {
    font-size: 200%;
    color: var(--light);
}

header h2 {
    text-align: right;
}

#navbar {
    float: right;
    display: inline;
    padding: 20px;
}

#navbar h2 {
    margin: 20px;
    color: var(--light);
}

.header-link {
    display: inline;
    text-align: right;
}

p {
    color: var(--light);
    line-height: 1.5;
}

#name {
    display: inline;
}

#name img {
    max-width: 100px;
    height: auto;
    margin: 10px;
    border-radius: 5px;
}

#banner-text {
    text-align: right;
    margin: -50px 80px 0 0;
}

#banner-image {
    border-top: 2px aqua solid;
    border-bottom: 2px aqua solid;
    width: 100%;
}

.on-left {
    width: 25%;
    min-width: 150px;
    text-align: left;
    border-right-style: solid;
    border-right-color:aqua;
    color: var(--light);
}

.on-right {
    padding-left: 5%;
    width: 100%;
    justify-content: center;
}

section {
    display: flex;
    padding: 40px;
}

.project-header {
    width: 100%;
    text-align: right;
    margin: 0 20px -70px 0;
    z-index: 100;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.small-projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;
    min-width: 400px;
    height: auto;
    margin: 40px auto 0 auto;
}

#project1 {
    max-width: 90%;
    margin: 0 auto 0 auto;
}

#project1-header {
    margin: 0 10% -20% 0;
}

.small-projects img {
    max-width: 100%;
    height: auto;
}

#projects img {
    border-radius: 5%;
    border: 2px aqua solid;
}

@media (max-width: 650px) {
    .small-projects {
        display: block;
        width: 100%;
        height: auto;
        margin: 40px auto 0 auto;
    }

    img {
        width: 100%;
    }

    #banner-text {
        display: none;
    }
  }
  
  